{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Summary and Timestamp Generator</title>
    <link rel="stylesheet" href="{% static 'summary/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>YouTube Summary and Timestamp Generator</h1>
        <form id="summaryForm">
            {% csrf_token %}
            <label for="youtube_link">YouTube Link:</label>
            <input type="text" id="youtube_link" name="youtube_link" required>
            <button type="submit">Get Summary and Timestamps</button>
        </form>
        <div id="summaryContainer" style="display:none;">
            <h2>Summary:</h2>
            <p id="summaryText"></p>
        </div>

    </div>

    <!-- Loading Spinner -->
    <div id="loading" style="display: none;">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>

    <script src="{% static 'summary/script.js' %}"></script>
</body>
</html>
